# Output from django's "collectstatic"
/static

# Output from npm build
/dist

# Python
__pycache__

# NPM
node_modules

# Log files
npm-debug.log*

# virtual environment
/venv

# key information
.env

# PyCharm
.idea