<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'main/style/reset.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/style/main.css' %}">
    <script src="{% static 'main/scripts/main.js' %}" defer></script>
    <script src="{% static 'main/js/test.js' %}" defer></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <section class="main-content">
        <div class="main-content-bar"></div>
        <h1 class="title">Hello World!</h1>
    </section>
</body>
</html>